<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>系统日志</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/nprogress/nprogress.css">
</head>
<body>

<div class="layui-fluid">
    <br>
    <div class="layui-card">
        <div class="layui-card-body">
<table class="layui-table">
    <thead><tr><th>名称</th>
        <th>类型</th>
        <th>操作</th></tr></thead>
    <tbody>

        <tr th:each="file : ${dirs}">
                <td th:text="${file.name}">
                </td>
            <td th:text="${file.type}"></td>
            <td>
                <a th:href="@{'download?path='+${file.path}+'&&dir='+${file.dir}}" th:text="${file.method}"></a>
            </td>
        </tr>
    </tbody>
</table>
        </div>
    </div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../layuiadmin/nprogress/nprogress.js"></script>
<script th:inline="javascript">
    NProgress.start();
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'useradmin', 'table'], function() {
        var $ = layui.$
            , form = layui.form
            , table = layui.table;
    });
    window.onload=function(){
        setTimeout(function() {
            NProgress.done();
        }, 600)
    }
</script>
</body>
</html>