

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MybatisPlug</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/loading.css" media="all">
</head>
<body>
<div id="loading" class="in-progress customloading" style="display: block">
    <div class="text-wrap">
        <i class="iconfont">&#xe627;</i>
        <p>加载中...</p>
    </div>
</div>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <!-- form start -->
                    <form role="form" class="layui-form" id="mbg">

                        <div class="layui-form-item">
                            <label class="layui-form-label">主机名</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="ip" name="ip" placeholder="Enter IP">
                            </div>
                            <div class="layui-form-mid layui-word-aux">IP地址 或者 url</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">数据库 </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="db" name="db" placeholder="Enter DB">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">端口 </label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="port" name="port" placeholder="Enter Port">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名 </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="username" name="username" placeholder="Enter UserName">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码 </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="password" name="password" placeholder="Enter Password">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">实体类包名 </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="modelpackagename" name="modelpackagename" placeholder="Enter Model PackageName">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">DAO类包名 </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="daopackagename" name="daopackagename" placeholder="Enter Dao PackageName">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">xml位置</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="mapperpath" name="mapperpath" placeholder="Enter Mapper Path">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">表名称 </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input"  name="tablenames" placeholder="Enter test_table">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">模型名称 </label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" name="tablemodels" placeholder="Enter TestTable">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button  type="button" class="layui-btn" onclick="gen()" >确定</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
<script src="./../../layuiadmin/biz/jquery-2.2.3.min.js"></script>
<script src="./../../layuiadmin/biz/biz.js"></script>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index']);
    window.onload=function(){
        setTimeout("fadeOut(window.document.getElementById('loading'));",1000);
    }
</script>
</body>
</html>