

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>区域管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/loading.css" media="all">
</head>
<body>
<div id="loading" class="in-progress customloading" style="display: block">
    <div class="text-wrap">
        <i class="iconfont">&#xe627;</i>
        <p>加载中...</p>
    </div>
</div>
<div class="layui-fluid">
    <br>
    <div class="layui-card">
        <div class="layui-card-body">

            <form class="layui-form" th:object="${area}" th:action="@{/sys/area/save}" method="post">
                <input type="text" th:field="*{id}" hidden>
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" th:field="*{name}" lay-verify="required"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">编码</label>
                    <div class="layui-input-inline">
                        <input type="text" th:field="*{code}"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">序号</label>
                    <div class="layui-input-inline">
                        <input type="text" th:field="*{sort}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <input type="text" th:field="*{type}" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="../../../layuiadmin/layui/layui.js"></script>
<script th:inline="javascript">
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,form = layui.form ;
    })
    var message = [[${message}]];

    window.onload=function(){
        setTimeout(function(){
            fadeOut(window.document.getElementById('loading'));
            if (message ===null||message ==='' ){
                //不执行任何操作
            }else{
                layer.msg(message);
            }
        },500);
    }
</script>
</body>
</html>